<html>

<head>
	<meta charset=utf-8>
	<meta http-equiv=X-UA-Compatible content="IE=edge" />
	<meta name=viewport content="width=device-width,initial-scale=1" />
	<link rel='stylesheet' href='https://cdn.bootcss.com/vuetify/1.5.11/vuetify.min.css'>
	<link rel='stylesheet' href='https://fonts.font.im/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
</head>

<body>
	<div id="app">
		<v-app id="inspire">
			<v-layout row>
				<v-flex xs24 sm24>
					<v-card>
						<v-toolbar color="purple" dark>
							<v-toolbar-side-icon></v-toolbar-side-icon>

							<v-toolbar-title>2019-04-19会议纪要</v-toolbar-title>

							<v-spacer></v-spacer>
						</v-toolbar>

						<v-list two-line>
							<template v-for="(item, index) in items">
								<v-list-tile v-if="item.headline" :key="item.title" avatar ripple @click="toggle(index)">
									<v-list-tile-content>
										<v-list-tile-sub-title class="text--primary">{{ item.headline }}</v-list-tile-sub-title>
										<v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
									</v-list-tile-content>

								</v-list-tile>
								<v-divider v-else-if="item.divider" :key="index"></v-divider>
								<v-subheader v-else-if="item.header" :key="item.header" class="pink--text text--darken-4">{{ item.header }}</v-subheader>
								<v-divider v-if="index + 1 < items.length" :key="index"></v-divider>
							</template>
						</v-list>
					</v-card>
					<v-container style="margin-top: 10px" fluid grid-list-xl pa-0>
						<v-layout wrap>
							<v-flex v-for="(link, i) in links" :key="i">
								<v-list class="grey lighten-3 pa-0" two-line>

									<v-list-tile :href="link.link" target="_blank" ripple>


										<v-list-tile-content>
											<v-list-tile-sub-title class="text--primary">{{ link.target }}</v-list-tile-sub-title>
										</v-list-tile-content>
										<v-list-tile-action>
											<v-icon>arrow_forward</v-icon>
										</v-list-tile-action>
									</v-list-tile>
								</v-list>
							</v-flex>
						</v-layout>
					</v-container>
				</v-flex>
			</v-layout>
		</v-app>
	</div>

	<script src='https://cdn.bootcss.com/babel-polyfill/7.4.3/polyfill.min.js'>

	</script>
	<script src='https://cdn.bootcss.com/vue/2.6.10/vue.min.js'>

	</script>
	<script src='https://cdn.bootcss.com/vuetify/1.5.11/vuetify.min.js'>

	</script>
	<script>
		new Vue({
  el: '#app',
  data() {
    return {
      selected: [2],
      links: [
      {
        target: '带boost和不带boost的源码安装',
        link: "https://www.cnblogs.com/galengao/p/5755788.html" },
      {
        target: 'LXC与Docker之间的主要区别',
        link: "https://blog.csdn.net/warrior_0319/article/details/79663338" },

      {
        target: 'mysql-sourcebuild-excerpt-5.7-en',
        link: "https://downloads.mysql.com/docs/mysql-sourcebuild-excerpt-5.7-en.a4.pdf" },
      {
        target: 'PHP-7.3.4(谨慎参考)',
        link: "http://www.linuxfromscratch.org/blfs/view/svn/general/php.html" }],


      items: [
      {
        headline: '本次演示哪个软件安装必须要git命令存在?',
        subtitle: "" },

      {
        headline: '请演示传说中的putty打开多终端,造成执行命令报错?',
        subtitle: "" },

      {
        headline: 'mysql-boost-5.7.23.tar.gz是否需要单独下载安装boost?',
        subtitle: "" },

      {
        headline: '如何确认一个包在ubuntu已安装?',
        subtitle: "在centos上呢?" },

      {
        headline: 'apt-cache的用途是什么?',
        subtitle: "命令没有输出说明没安装, 一屏字就是安装?" },

      {
        headline: 'php7.0.9是源代码编译安装,使用上面的方法能否验证出PHP7.0.9已安装?',
        subtitle: "" },

      {
        headline: '包openssl openssl-dev都已安装, 为什么报的错误还是找不到openssl?',
        subtitle: "" },

      {
        headline: 'apache, mysql , php都有非常多的可选特性, 如果程序不是自己安装的, 如何知道都安装了哪些特性?',
        subtitle: "" },

      { divider: true },
      { header: '参考链接' }] };


  },

  methods: {
    toggle(index) {
      const i = this.selected.indexOf(index);

      if (i > -1) {
        this.selected.splice(i, 1);
      } else {
        this.selected.push(index);
      }
    } } });
	</script>
</body>

</html>